* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: white;
  height: 100%;
}

body._lock {
  overflow: hidden;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

main._lock {
  opacity: 0;
}

.page {
  max-width: 1400px;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

button, input, a, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
}

ol, ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}

a, button {
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

p {
  color: #777;
  line-height: 23px;
  font-size: 15px;
}

h2 {
  font-size: 41px;
  font-weight: 700;
  color: #1dc8d9;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
}

._animate-items {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  opacity: 0;
}

._animate-items._active {
  opacity: 1;
}

.header__nav {
  width: 100%;
  background-color: white;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
  -webkit-transition: all ease-in-out 1s;
  transition: all ease-in-out 1s;
}
.header__nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
  padding-top: 10px;
}
.header__nav .container .header__logo {
  margin-top: 15px;
  margin-bottom: 15px;
}
.header__nav .container .header__logo .header__logo_link {
  font-size: 20px;
  color: #1dc8d9;
  font-family: "Cinzel Decorative", cursive;
  font-size: 36px;
  font-weight: 800;
}
.header__nav .container .header__logo .header__logo_link:hover {
  color: #777;
}
.header__nav .container .nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}
.header__nav .container .nav__items li {
  margin-left: 35px;
}

.header__nav._active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.nav__link {
  color: #000;
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.nav__link:hover {
  color: #1dc8d9;
}
.nav__link:active {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.link-active {
  color: #1dc8d9;
}

@media (max-width: 1005px) {
  .header {
    position: relative;
  }

  .header__nav {
    position: relative;
  }
  .header__nav::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }
  .header__nav .container {
    padding-bottom: 10px;
    padding-top: 5px;
  }
  .header__nav .container .header__logo {
    margin: 10px 0px;
    position: relative;
    z-index: 160;
  }
  .header__nav .container .header__logo .header__logo_link {
    font-size: 34px;
  }
  .header__nav .container .nav__wrap {
    width: 100%;
    min-height: 100vh;
    padding: 15px;
    background-color: #fff;
    position: fixed;
    top: 60px;
    left: -100%;
    z-index: 100;
    overflow: auto;
    -webkit-transition: left ease-in-out 0.4s;
    transition: left ease-in-out 0.4s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__nav .container .nav__wrap .nav__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-top: 0;
  }
  .header__nav .container .nav__wrap .nav__items li {
    border-radius: 10px;
    margin-left: 0;
    margin-bottom: 5px;
  }
  .header__nav .container .nav__wrap .nav__items li a {
    width: 240px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    padding: 16px 0;
    border-radius: 5px;
    background-color: #1dc8d9;
  }
  .header__nav .container .nav__wrap .nav__items li a:hover {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  .header__nav .container .show {
    left: 0;
  }
  .header__nav .container .burger {
    display: block;
    position: relative;
    z-index: 160;
    width: 30px;
    height: 20px;
    margin-top: 7px;
    cursor: pointer;
  }
  .header__nav .container .burger span, .header__nav .container .burger::before, .header__nav .container .burger::after {
    content: "";
    display: block;
    background-color: #1dc8d9;
    width: 100%;
    height: 15%;
    position: absolute;
    -webkit-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
  }
  .header__nav .container .burger::before {
    top: 0;
  }
  .header__nav .container .burger::after {
    bottom: 0;
  }
  .header__nav .container .burger span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .header__nav .container .burger._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .header__nav .container .burger._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .header__nav .container .burger._active::after {
    top: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
}
.header__title {
  width: 100%;
  height: 400px;
  background-image: url(./../images/banner.jpg);
  background-repeat: no-repeat;
}
.header__title h1 {
  font-size: 50px;
  font-weight: 700;
  color: #FFF;
  text-align: center;
  line-height: 400px;
  text-transform: uppercase;
}

.project .container {
  margin-top: 60px;
}

.project__title {
  margin-bottom: 60px;
}

.project__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 100px;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.project__container .project__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}
.project__container .project__items .project__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 15px;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  margin-bottom: 31px;
  margin-left: auto;
  margin-right: auto;
}
.project__container .project__items .project__images .project__img_wrap {
  width: 180px;
  height: 128px;
}
.project__container .project__items .project__info {
  color: #7D5673;
  text-align: right;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.project__container .project__items .project__info h3 {
  font-size: 30px;
  font-weight: 600;
}
.project__container .project__items .project__info h4 {
  font-size: 22px;
  font-weight: 600;
  margin: 10px 0;
}
.project__container .project__items .project__info h5 {
  font-size: 20px;
  font-weight: normal;
}
.project__container .project__items .project__info._active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.project__img {
  width: 560px;
  height: 390px;
}

.details {
  background-color: #EAEAEA;
  padding-top: 1px;
  padding-bottom: 100px;
}

.details__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}
.details__box .details__item {
  width: 330px;
  background: white;
  padding: 20px 20px 30px 20px;
  border-radius: 8px;
}
.details__box .details__item .details__img_wrap {
  width: 100%;
  height: 217px;
}
.details__box .details__item p {
  padding: 20px 40px 30px 0;
  line-height: 25px;
  font-size: 13px;
}
.details__box .details__item a {
  font-weight: 600;
  color: #1dc8d9;
  text-transform: uppercase;
  padding: 10px 50px;
  border: 1px solid #1dc8d9;
  background-color: #FFF;
}
.details__box .details__item a:hover {
  background-color: #1dc8d9;
  color: #fff;
}

.details__box._active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.ventures__box {
  margin-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
}

.ventures__item {
  width: 49.7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f5f5f5;
  -webkit-transform: translateY(70%);
          transform: translateY(70%);
}
.ventures__item .ventures__img {
  width: 250px;
  height: 200px;
}
.ventures__item .ventures__info {
  margin-left: 10px;
  padding: 0 10px;
}
.ventures__item .ventures__info h3 {
  font-size: 20px;
  text-align: left;
  margin-top: 20px;
  font-weight: 600;
  color: #1dc8d9;
}
.ventures__item .ventures__info p {
  width: 300px;
  font-size: 13px;
  text-align: left;
  line-height: 25px;
  padding: 12px 12px 12px 0px;
}

.ventures__item._active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.success {
  background-color: #2f3238;
  padding-top: 1px;
}
.success .container {
  padding-bottom: 85px;
}

.success__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transform: translateY(70%);
          transform: translateY(70%);
}

.success__box._active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.success__item {
  width: 373px;
  height: 245px;
  position: relative;
  background: #3085a3;
  cursor: pointer;
}
.success__item img {
  opacity: 0.8;
}
.success__item_absolute {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease-in 0.4s;
  transition: all ease-in 0.4s;
  opacity: 0;
}
.success__item_absolute:hover {
  opacity: 1;
}
.success__item_absolute p {
  padding: 14px;
  margin-top: 42px;
  color: #fff;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.47);
}

.success_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 10px;
  margin-top: 46px;
  background: #1dc8d9;
  color: #FFF;
}
.success_info h3 {
  font-size: 25px;
  font-weight: 300;
  line-height: 50px;
  text-transform: uppercase;
}
.success_info h3 span {
  font-weight: 800;
}
.success_info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.success_info ul a {
  display: block;
  width: 46px;
  height: 46px;
  background-image: url(./../images/img-sprite.png);
  background-repeat: no-repeat;
}

.footer {
  background-image: url(./../images/footer.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.footer .container {
  position: relative;
}

.footer__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 70px 0;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #ccc;
}
.footer__nav li {
  margin-bottom: 10px;
}
.footer__nav li a {
  color: #ccc;
}
.footer__nav li a:hover {
  color: white;
}

.footer__box {
  -webkit-transform: translateX(-70%);
          transform: translateX(-70%);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.footer__box._active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.footer__subscribe {
  -webkit-transform: translateX(70%);
          transform: translateX(70%);
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}
.footer__subscribe h4 {
  font-size: 35px;
  font-weight: 600;
}
.footer__subscribe p {
  color: #FFF;
  font-size: 14px;
  margin: 15px 0;
}
.footer__subscribe form {
  margin-bottom: 40px;
}
.footer__subscribe form input {
  background: #333;
  color: white;
  font-size: 14px;
  padding: 15px;
  width: 80%;
  border: none;
  border-radius: 5px;
}
.footer__subscribe form input:focus {
  border: none;
}
.footer__subscribe form button {
  padding: 14px 30px;
  background-color: #0bb46d;
  border: none;
  outline: none;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.footer__subscribe form button:hover {
  background-color: #0a9683;
}

.footer__subscribe._active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.footer__social {
  position: absolute;
  bottom: 65px;
  left: 47px;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
.footer__social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__social ul li a {
  background-image: url(./../images/img-sprite.png);
  background-repeat: no-repeat;
  display: block;
  width: 50px;
  height: 50px;
}

.footer__social._active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.facebook {
  background-position: 0 0;
}
.facebook:hover {
  background-position: 0 -50px;
}

.twitter {
  background-position: -50px 0;
}
.twitter:hover {
  background-position: -50px -50px;
}

.googleplus {
  background-position: -100px 0;
}
.googleplus:hover {
  background-position: -100px -50px;
}

.instagram {
  background-position: -150px 0;
}
.instagram:hover {
  background-position: -150px -50px;
}

.youtube {
  background-position: -200px 0;
}
.youtube:hover {
  background-position: -200px -50px;
}

.music {
  background-position: -250px 0;
}
.music:hover {
  background-position: -250px -50px;
}

@media (max-width: 850px) {
  .footer__nav {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 18px;
  }

  .footer__box {
    width: 48%;
  }
  .footer__box .cities {
    display: none;
  }
}
@media (max-width: 800px) {
  .footer__section {
    padding: 45px 0;
  }

  .footer__box h4 {
    font-size: 31px;
  }

  .footer__social {
    left: 30px;
    bottom: 70px;
  }
}
.btn__up {
  cursor: pointer;
  position: fixed;
  bottom: 2%;
  right: 2%;
  z-index: 1000;
  -webkit-transition: all ease-in 0.6s;
  transition: all ease-in 0.6s;
  opacity: 0;
}