* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: white;
  height: 100%;
}

body._lock {
  overflow: hidden;
  height: 0;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

main._lock {
  opacity: 0;
}

.page {
  max-width: 1400px;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  position: relative;
}

section {
  padding-right: 15px;
  padding-left: 15px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

button, input, a, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
}

ol, ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}

a, button {
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

p {
  color: #777;
  line-height: 23px;
  font-size: 15px;
}

h2 {
  font-size: 41px;
  font-weight: 700;
  color: #1dc8d9;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
}

._animate-items {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  opacity: 0;
}

._animate-items._active {
  opacity: 1;
}

.header__nav {
  width: 100%;
  background-color: white;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
  -webkit-transition: all ease-in-out 1s;
  transition: all ease-in-out 1s;
}
.header__nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
  padding-top: 10px;
}
.header__nav .container .header__logo {
  margin-top: 15px;
  margin-bottom: 15px;
}
.header__nav .container .header__logo .header__logo_link {
  font-size: 20px;
  color: #1dc8d9;
  font-family: "Cinzel Decorative", cursive;
  font-size: 36px;
  font-weight: 800;
}
.header__nav .container .header__logo .header__logo_link:hover {
  color: #777;
}
.header__nav .container .nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}
.header__nav .container .nav__items li {
  margin-left: 35px;
}

.header__nav._active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.nav__link {
  color: #000;
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.nav__link:hover {
  color: #1dc8d9;
}
.nav__link:active {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.link-active {
  color: #1dc8d9;
}

@media (max-width: 1005px) {
  .header {
    position: relative;
  }

  .header__nav {
    position: relative;
  }
  .header__nav::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }
  .header__nav .container {
    padding-bottom: 10px;
    padding-top: 5px;
  }
  .header__nav .container .header__logo {
    margin: 10px 0px;
    position: relative;
    z-index: 160;
  }
  .header__nav .container .header__logo .header__logo_link {
    font-size: 34px;
  }
  .header__nav .container .nav__wrap {
    width: 100%;
    height: 100vh;
    padding: 15px;
    background-color: #fff;
    position: fixed;
    top: 60px;
    left: -100%;
    z-index: 100;
    overflow: auto;
    -webkit-transition: left ease-in-out 0.4s;
    transition: left ease-in-out 0.4s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__nav .container .nav__wrap .nav__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-top: 0;
  }
  .header__nav .container .nav__wrap .nav__items li {
    border-radius: 10px;
    margin-left: 0;
    margin-bottom: 5px;
  }
  .header__nav .container .nav__wrap .nav__items li a {
    width: 240px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    padding: 16px 0;
    border-radius: 5px;
    background-color: #1dc8d9;
  }
  .header__nav .container .nav__wrap .nav__items li a:hover {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  .header__nav .container .show {
    left: 0;
  }
  .header__nav .container .burger {
    display: block;
    position: relative;
    z-index: 160;
    width: 30px;
    height: 20px;
    margin-top: 7px;
    cursor: pointer;
  }
  .header__nav .container .burger span, .header__nav .container .burger::before, .header__nav .container .burger::after {
    content: "";
    display: block;
    background-color: #1dc8d9;
    width: 100%;
    height: 15%;
    position: absolute;
    -webkit-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
  }
  .header__nav .container .burger::before {
    top: 0;
  }
  .header__nav .container .burger::after {
    bottom: 0;
  }
  .header__nav .container .burger span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .header__nav .container .burger._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .header__nav .container .burger._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .header__nav .container .burger._active::after {
    top: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
}
@media (max-width: 510px) {
  .header__nav .container .header__logo .header__logo_link {
    font-size: 25px;
  }
}
.header__title {
  width: 100%;
  height: 400px;
  background-image: url(./../images/banner.jpg);
  background-repeat: no-repeat;
}
.header__title h1 {
  font-size: 50px;
  font-weight: 700;
  color: #FFF;
  text-align: center;
  line-height: 400px;
  text-transform: uppercase;
}

@media (max-width: 700px) {
  .header__title h1 {
    font-size: 40px;
  }
}
@media (max-width: 500px) {
  .header__title h1 {
    font-size: 25px;
  }
}
.where__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 100px;
}
.where__box h2 {
  margin-top: 0;
  text-align: left;
}
.where__box p {
  line-height: 30px;
}
.where__box .where__img_wrap {
  width: 570px;
  height: 290px;
  padding: 0 15px;
}

@media (max-width: 700px) {
  .where__box {
    margin-top: 50px;
    margin-bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .where__box h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .where__box p {
    line-height: 22px;
    font-size: 13px;
  }
  .where__box .where__img_wrap {
    width: 100%;
    padding: 0;
  }
  .where__box .where__img_wrap img {
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.booking {
  background-image: url(./../images/booking.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 80px;
  padding-bottom: 80px;
}
.booking .container {
  max-width: 650px;
}
.booking h2 {
  margin-top: 0;
  color: #fff;
  text-align: left;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 50px;
}

.form span {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
}
.form select {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 30px;
  font-weight: 600;
  outline: none;
  border: none;
}
.form .form-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}
.form .form-box label {
  display: block;
  margin: 5px 0;
}
.form .form-box input {
  width: 280px;
  height: 50px;
  padding: 15px;
}
.form .cuisine__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 30px;
}
.form .form-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 40px;
  background-color: #FFF;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}
.form .form-btn:hover {
  background-color: #1dc8d9;
  color: #fff;
}

.booking__animate {
  -webkit-transform: translateX(-70%);
          transform: translateX(-70%);
}

.booking__animate._active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media (max-width: 700px) {
  .form .form-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form .form-box .form__date_in {
    margin: 15px;
  }
  .form .cuisine__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 30px;
  }
  .form .form-btn {
    display: block;
    margin: 0 auto;
    padding: 10px 40px;
    background-color: #FFF;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
  }
  .form .form-btn:hover {
    background-color: #1dc8d9;
    color: #fff;
  }
}
@media (max-width: 500px) {
  .booking .container {
    width: 100%;
  }
  .booking h2 {
    font-size: 30px;
  }
  .booking .form .cuisine__box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .booking .form .cuisine__box div {
    width: 50%;
    margin-bottom: 10px;
  }
}
.address {
  padding-top: 1px;
  padding-bottom: 100px;
  padding-right: 10px;
  padding-left: 10px;
}
.address h2 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 700;
}
.address p {
  text-align: center;
}

.address__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 95%;
  margin-top: 50px;
}
.address__box h3 {
  font-size: 20px;
  font-weight: 600;
  color: #1dc8d9;
  margin-bottom: 8px;
}
.address__box ul {
  margin-bottom: 15px;
}
.address__box ul li {
  color: #666;
  line-height: 16px;
  font-size: 15px;
  margin-bottom: 7px;
  padding-left: 22px;
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
}
.address__box ul li a {
  color: #666;
  line-height: 16px;
  font-size: 15px;
  margin-bottom: 7px;
}

.address__item li {
  background-image: url(./../images/location.svg);
}

.phone__item li {
  background-image: url(./../images/phone.svg);
}

.email__item li {
  background-image: url(./../images/mail.svg);
}

.address__form {
  width: 45%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.address__form .address__form_inp {
  width: 100%;
  height: 30px;
  padding: 17px;
  margin-bottom: 20px;
  background-color: #111;
  color: #fff;
  outline: none;
}
.address__form .address__form_inp:focus {
  border: none;
}
.address__form textarea {
  background-color: #111;
  padding: 15px;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  min-width: 200px;
  min-height: 80px;
  color: #fff;
  font-size: 16px;
}
.address__form .address__form_btn {
  display: block;
  padding: 10px 30px;
  font-size: 15px;
  font-weight: 600;
  color: #EEE;
  border: none;
  outline: none;
  background-color: #0bb46d;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.address__form .address__form_btn:hover {
  background-color: #009688;
  color: #FFF;
}

.address__form._active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.address__info {
  -webkit-transform: translateX(-120%);
          transform: translateX(-120%);
}

.address__info._active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media (max-width: 700px) {
  .address {
    padding-bottom: 50px;
  }
  .address h2 {
    font-size: 32px;
  }

  .address__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .address__box .address__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 20px;
  }

  .address__form {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .address h2 {
    font-size: 25px;
  }
}
.footer {
  background-image: url(./../images/footer.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.footer .container {
  position: relative;
}

.footer__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 70px 0;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #ccc;
}
.footer__nav li {
  margin-bottom: 10px;
}
.footer__nav li a {
  color: #ccc;
}
.footer__nav li a:hover {
  color: white;
}

.footer__box {
  -webkit-transform: translateX(-70%);
          transform: translateX(-70%);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.footer__box._active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.footer__subscribe {
  -webkit-transform: translateX(70%);
          transform: translateX(70%);
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}
.footer__subscribe h4 {
  font-size: 35px;
  font-weight: 600;
}
.footer__subscribe p {
  color: #FFF;
  font-size: 14px;
  margin: 15px 0;
}
.footer__subscribe form {
  margin-bottom: 40px;
}
.footer__subscribe form input {
  background: #333;
  color: white;
  font-size: 14px;
  padding: 15px;
  width: 80%;
  border: none;
  border-radius: 5px;
}
.footer__subscribe form input:focus {
  border: none;
}
.footer__subscribe form button {
  padding: 14px 30px;
  background-color: #0bb46d;
  border: none;
  outline: none;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.footer__subscribe form button:hover {
  background-color: #0a9683;
}

.footer__subscribe._active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.footer__social {
  position: absolute;
  bottom: 65px;
  left: 47px;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
.footer__social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__social ul li a {
  background-image: url(./../images/img-sprite.png);
  background-repeat: no-repeat;
  display: block;
  width: 50px;
  height: 50px;
}

.footer__social._active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.facebook {
  background-position: 0 0;
}
.facebook:hover {
  background-position: 0 -50px;
}

.twitter {
  background-position: -50px 0;
}
.twitter:hover {
  background-position: -50px -50px;
}

.googleplus {
  background-position: -100px 0;
}
.googleplus:hover {
  background-position: -100px -50px;
}

.instagram {
  background-position: -150px 0;
}
.instagram:hover {
  background-position: -150px -50px;
}

.youtube {
  background-position: -200px 0;
}
.youtube:hover {
  background-position: -200px -50px;
}

.music {
  background-position: -250px 0;
}
.music:hover {
  background-position: -250px -50px;
}

@media (max-width: 850px) {
  .footer__nav {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 18px;
  }

  .footer__box {
    width: 48%;
  }
  .footer__box .cities {
    display: none;
  }
}
@media (max-width: 800px) {
  .footer__section {
    padding: 45px 0;
  }

  .footer__box h4 {
    font-size: 31px;
  }

  .footer__social {
    left: 30px;
    bottom: 70px;
  }
}
@media (max-width: 680px) {
  .footer__section .hidden {
    display: none;
  }

  .footer__social {
    display: none;
  }

  .footer__box {
    width: 100%;
    text-align: center;
  }
  .footer__box p {
    font-size: 14px;
  }
  .footer__box form {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
  }
  .footer__box form input {
    margin-bottom: 10px;
  }
}
.btn__up {
  cursor: pointer;
  position: fixed;
  bottom: 2%;
  right: 2%;
  z-index: 1000;
  -webkit-transition: all ease-in 0.6s;
  transition: all ease-in 0.6s;
  opacity: 0;
}