* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.page {
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

button, input, a, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-size: inherit;
}

ol, ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}

a, button {
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

p {
  color: #777;
  line-height: 23px;
  font-size: 15px;
}

h2 {
  font-size: 41px;
  font-weight: 700;
  color: #1dc8d9;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
}

.header__nav {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.88);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
}
.header__nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
  padding-top: 10px;
}
.header__nav .container .header__logo {
  margin-top: 15px;
  margin-bottom: 15px;
}
.header__nav .container .header__logo .header__logo_link {
  font-size: 20px;
  color: #1dc8d9;
  font-family: "Cinzel Decorative", cursive;
  font-size: 36px;
  font-weight: 800;
}
.header__nav .container .header__logo .header__logo_link:hover {
  color: #777;
}
.header__nav .container .nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}
.header__nav .container .nav__items li {
  margin-left: 35px;
}

.nav__link {
  color: #000;
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.nav__link:hover {
  color: #1dc8d9;
}
.nav__link:active {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.link-active {
  color: #1dc8d9;
}

.slider-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.header-slide {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  opacity: 0;
}
.header-slide .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
}
.header-slide h1, .header-slide h2 {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 55px;
  line-height: 70px;
  font-weight: bold;
  width: 50%;
  position: absolute;
  margin-top: 0;
  top: 35%;
  left: 15%;
  z-index: 3;
}
.header-slide h1 span, .header-slide h2 span {
  color: #1dc8d9;
}

.header-pagination {
  position: absolute;
  right: 10%;
  top: 40%;
  z-index: 4;
  width: 20px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 18px;
}

.header-dot {
  display: block;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: white;
  cursor: pointer;
}

.slide-one {
  background-image: url(./../images/slide-1.jpg);
}

.slide-two {
  background-image: url(./../images/slide-2.jpg);
}

.slide-three {
  background-image: url(./../images/slide-3.jpg);
}

.slide-four {
  background-image: url(./../images/slide-4.jpg);
}

.slide-five {
  background-image: url(./../images/slide-5.jpg);
}

.dot-active {
  background-color: #1dc8d9;
}

.slide-active {
  opacity: 1;
}

.bggreen {
  background-color: aquamarine;
}

.recomendation {
  height: 725px;
}
.recomendation .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recomendation__box {
  margin-top: 40px;
  position: relative;
}

.recomendation__slider {
  position: relative;
  width: 550px;
  height: 350px;
  overflow: hidden;
}
.recomendation__slider .item-zero {
  background-image: url(./../images/gallery.jpg);
}
.recomendation__slider .item-one {
  background-image: url(./../images/gallery-1.jpg);
}
.recomendation__slider .item-two {
  background-image: url(./../images/gallery-2.jpg);
}
.recomendation__slider .item-three {
  background-image: url(./../images/gallery-3.jpg);
}
.recomendation__slider .item-four {
  background-image: url(./../images/gallery-4.jpg);
}
.recomendation__slider .item-five {
  background-image: url(./../images/gallery-5.jpg);
}

.recomendation_slider-absolute {
  position: absolute;
  top: 50%;
  left: 60%;
}
.recomendation_slider-absolute .recomendation__slider_two {
  width: 500px;
  height: 350px;
}
.recomendation_slider-absolute .item-six {
  background-image: url(./../images/gallery-6.jpg);
}
.recomendation_slider-absolute .item-seven {
  background-image: url(./../images/gallery-7.jpg);
}
.recomendation_slider-absolute .item-eight {
  background-image: url(./../images/gallery-8.jpg);
}
.recomendation_slider-absolute .item-nine {
  background-image: url(./../images/gallery-9.jpg);
}
.recomendation_slider-absolute .item-ten {
  background-image: url(./../images/gallery-10.jpg);
}
.recomendation_slider-absolute .item-eleven {
  background-image: url(./../images/gallery-11.jpg);
}

.recomendation__slide {
  min-width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 8;
}

.recomendation-active {
  opacity: 1;
}

.recomendation__box .box__container {
  margin-left: 120px;
  margin-top: 130px;
}
.recomendation__box .box__gallery {
  margin-top: 170px;
  margin-left: 200px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.recomendation__box .box__gallery h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  margin-bottom: 30px;
  position: relative;
}
.recomendation__box .box__gallery h4::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: -23px;
  width: 150%;
  height: 3px;
  background-color: #1dc8d9;
}
.recomendation__box .box__gallery p {
  margin-bottom: 40px;
}
.recomendation__box .box__gallery a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 136px;
  font-size: 20px;
  text-align: center;
  color: #1dc8d9;
  border: 2px solid #1dc8d9;
  padding: 5px;
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
}
.recomendation__box .box__gallery a:hover {
  background-color: #1dc8d9;
  color: white;
}

#awards {
  background-image: url("./../images/awards.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}
#awards .awards__title {
  padding-top: 35px;
  margin-bottom: 50px;
}
#awards .awards__title h2 {
  text-align: center;
}
#awards .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.awards_cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 150px;
}
.awards_cart .awards__img_wrap {
  max-width: 125px;
  margin-bottom: 30px;
}
.awards_cart h3 {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
  position: relative;
}
.awards_cart h3::after {
  content: "";
  position: absolute;
  bottom: -18px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #1dc8d9;
}
.awards_cart ul {
  text-align: center;
}
.awards_cart ul li {
  font-size: 16px;
  margin-bottom: 8px;
}
.awards_cart ul li h4 {
  font-size: 18px;
  font-weight: bold;
}

.service__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.service__section .service__text {
  padding-top: 25px;
}
.service__section .service__text p {
  text-align: center;
}
.service__section .service__img {
  width: 450px;
  height: 450px;
  margin-top: -55px;
}

.service__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 80px 0;
}
.service__box_cart {
  text-align: center;
}
.service__box_cart .service__img_wrap {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.service__box_cart h3 {
  font-size: 20px;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 35px;
  padding-bottom: 10px;
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 4px solid #1dc8d9;
}

.footer {
  background-image: url(./../images/footer.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.footer .container {
  position: relative;
}

.footer__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 70px 0;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #ccc;
}
.footer__nav li {
  margin-bottom: 10px;
}
.footer__nav li a {
  color: #ccc;
}
.footer__nav li a:hover {
  color: white;
}

.footer__subscribe h4 {
  font-size: 35px;
  font-weight: 600;
}
.footer__subscribe p {
  font-size: 14px;
  margin: 15px 0;
}
.footer__subscribe form {
  margin-bottom: 40px;
}
.footer__subscribe form input {
  background: #333;
  color: white;
  font-size: 14px;
  padding: 15px;
  width: 80%;
  border: none;
  border-radius: 5px;
}
.footer__subscribe form input:focus {
  border: none;
}
.footer__subscribe form button {
  padding: 14px 30px;
  background-color: #0bb46d;
  border: none;
  outline: none;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.footer__subscribe form button:hover {
  background-color: #0a9683;
}

.footer__social {
  position: absolute;
  bottom: 65px;
  left: 47px;
}
.footer__social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__social ul li a {
  background-image: url(./../images/img-sprite.png);
  background-repeat: no-repeat;
  display: block;
  width: 50px;
  height: 50px;
}

.facebook {
  background-position: 0 0;
}
.facebook:hover {
  background-position: 0 -50px;
}

.twitter {
  background-position: -50px 0;
}
.twitter:hover {
  background-position: -50px -50px;
}

.googleplus {
  background-position: -100px 0;
}
.googleplus:hover {
  background-position: -100px -50px;
}

.instagram {
  background-position: -150px 0;
}
.instagram:hover {
  background-position: -150px -50px;
}

.youtube {
  background-position: -200px 0;
}
.youtube:hover {
  background-position: -200px -50px;
}

.music {
  background-position: -250px 0;
}
.music:hover {
  background-position: -250px -50px;
}

.btn__up {
  cursor: pointer;
  position: fixed;
  bottom: 2%;
  right: 2%;
  z-index: 1000;
  -webkit-transition: all ease-in 0.6s;
  transition: all ease-in 0.6s;
  opacity: 0;
}