* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: white;
  height: 100%;
}

body._lock {
  overflow: hidden;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page {
  max-width: 1400px;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

button, input, a, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-size: inherit;
}

ol, ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}

a, button {
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

p {
  color: #777;
  line-height: 23px;
  font-size: 15px;
}

h2 {
  font-size: 41px;
  font-weight: 700;
  color: #1dc8d9;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
}

.header__nav {
  width: 100%;
  background-color: white;
}
.header__nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
  padding-top: 10px;
}
.header__nav .container .header__logo {
  margin-top: 15px;
  margin-bottom: 15px;
}
.header__nav .container .header__logo .header__logo_link {
  font-size: 20px;
  color: #1dc8d9;
  font-family: "Cinzel Decorative", cursive;
  font-size: 36px;
  font-weight: 800;
}
.header__nav .container .header__logo .header__logo_link:hover {
  color: #777;
}
.header__nav .container .nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}
.header__nav .container .nav__items li {
  margin-left: 35px;
}

.nav__link {
  color: #000;
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.nav__link:hover {
  color: #1dc8d9;
}
.nav__link:active {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.link-active {
  color: #1dc8d9;
}

@media (max-width: 1000px) {
  .header {
    position: relative;
  }

  .header__nav {
    position: relative;
  }
  .header__nav::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }
  .header__nav .container {
    padding-bottom: 10px;
    padding-top: 5px;
  }
  .header__nav .container .header__logo {
    margin: 10px 0px;
    position: relative;
    z-index: 60;
  }
  .header__nav .container .header__logo .header__logo_link {
    font-size: 34px;
  }
  .header__nav .container .nav__wrap {
    width: 100%;
    height: 100%;
    padding: 100px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 50;
    overflow: auto;
    -webkit-transition: left ease-in-out 0.4s;
    transition: left ease-in-out 0.4s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__nav .container .nav__wrap .nav__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-top: 0;
  }
  .header__nav .container .nav__wrap .nav__items li {
    border-radius: 10px;
    margin-left: 0;
    margin-bottom: 5px;
  }
  .header__nav .container .nav__wrap .nav__items li a {
    width: 240px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    padding: 16px 0;
    border-radius: 5px;
    background-color: #1dc8d9;
  }
  .header__nav .container .nav__wrap .nav__items li a:hover {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  .header__nav .container .show {
    left: 0;
  }
  .header__nav .container .burger {
    display: block;
    position: relative;
    z-index: 60;
    width: 30px;
    height: 20px;
    margin-top: 7px;
    cursor: pointer;
  }
  .header__nav .container .burger span, .header__nav .container .burger::before, .header__nav .container .burger::after {
    content: "";
    display: block;
    background-color: #1dc8d9;
    width: 100%;
    height: 15%;
    position: absolute;
    -webkit-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
  }
  .header__nav .container .burger::before {
    top: 0;
  }
  .header__nav .container .burger::after {
    bottom: 0;
  }
  .header__nav .container .burger span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .header__nav .container .burger._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .header__nav .container .burger._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .header__nav .container .burger._active::after {
    top: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
}
.header__title {
  width: 100%;
  height: 400px;
  background-image: url(./../images/banner.jpg);
  background-repeat: no-repeat;
}
.header__title h1 {
  font-size: 50px;
  font-weight: 700;
  color: #FFF;
  text-align: center;
  line-height: 400px;
  text-transform: uppercase;
}

.food .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 100px;
}

.food__info h2 {
  margin-top: 0;
  text-align: left;
  margin-bottom: 50px;
}
.food__info p {
  line-height: 35px;
}

.food__img {
  width: 540px;
  height: 360px;
}
.food__img img {
  width: 100%;
  height: 100%;
}

.special {
  background-color: #EEEEEE;
  padding-top: 1px;
}

.special__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.special__box .special__img {
  margin: 0;
  padding: 0;
  width: 269.5px;
  height: 269px;
  position: relative;
}
.special__box .special__img .special__img_wrap {
  width: 100%;
  height: 100%;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #000;
  cursor: pointer;
  opacity: 0.2;
}
.special__box .special__img .special__img_wrap:hover {
  opacity: 0.5;
}

.menu .container {
  margin-bottom: 100px;
}
.menu .menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.menu .menu__items li {
  width: 45%;
  margin-bottom: 50px;
}
.menu .menu__items li .menu__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4px;
}
.menu .menu__items li .menu__name h3 {
  display: block;
  width: 200px;
  font-size: 20px;
  color: #333;
  font-weight: 500;
}
.menu .menu__items li .menu__name .menu__line {
  display: block;
  width: 100px;
  height: 1px;
  background-color: #999;
  margin-left: 20px;
}
.menu .menu__items li .menu__name .menu__price {
  font-size: 22px;
  color: #555555;
  display: block;
  width: 68px;
}
.menu .hidden {
  display: none;
}

.menu__btn_wrap {
  text-align: center;
}
.menu__btn_wrap .menu__btn {
  color: #1dc8d9;
  font-weight: 600;
  padding: 10px 0;
  width: 14%;
  border: 1px solid #1dc8d9;
  background-color: #fff;
}
.menu__btn_wrap .menu__btn:hover {
  background-color: #1dc8d9;
  color: #fff;
}
.menu__btn_wrap .menu__btn:active {
  font-size: 10px;
}
.menu__btn_wrap .btn-more {
  margin-right: 15px;
}
.menu__btn_wrap .btn-less {
  cursor: not-allowed;
  opacity: 0.5;
}

.footer {
  background-image: url(./../images/footer.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.footer .container {
  position: relative;
}

.footer__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 70px 0;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #ccc;
}
.footer__nav li {
  margin-bottom: 10px;
}
.footer__nav li a {
  color: #ccc;
}
.footer__nav li a:hover {
  color: white;
}

.footer__subscribe h4 {
  font-size: 35px;
  font-weight: 600;
}
.footer__subscribe p {
  color: #FFF;
  font-size: 14px;
  margin: 15px 0;
}
.footer__subscribe form {
  margin-bottom: 40px;
}
.footer__subscribe form input {
  background: #333;
  color: white;
  font-size: 14px;
  padding: 15px;
  width: 80%;
  border: none;
  border-radius: 5px;
}
.footer__subscribe form input:focus {
  border: none;
}
.footer__subscribe form button {
  padding: 14px 30px;
  background-color: #0bb46d;
  border: none;
  outline: none;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.footer__subscribe form button:hover {
  background-color: #0a9683;
}

.footer__social {
  position: absolute;
  bottom: 65px;
  left: 47px;
}
.footer__social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__social ul li a {
  background-image: url(./../images/img-sprite.png);
  background-repeat: no-repeat;
  display: block;
  width: 50px;
  height: 50px;
}

.facebook {
  background-position: 0 0;
}
.facebook:hover {
  background-position: 0 -50px;
}

.twitter {
  background-position: -50px 0;
}
.twitter:hover {
  background-position: -50px -50px;
}

.googleplus {
  background-position: -100px 0;
}
.googleplus:hover {
  background-position: -100px -50px;
}

.instagram {
  background-position: -150px 0;
}
.instagram:hover {
  background-position: -150px -50px;
}

.youtube {
  background-position: -200px 0;
}
.youtube:hover {
  background-position: -200px -50px;
}

.music {
  background-position: -250px 0;
}
.music:hover {
  background-position: -250px -50px;
}

.btn__up {
  cursor: pointer;
  position: fixed;
  bottom: 2%;
  right: 2%;
  z-index: 1000;
  -webkit-transition: all ease-in 0.6s;
  transition: all ease-in 0.6s;
  opacity: 0;
}