.food{
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 100px;
        margin-bottom: 100px;
    }
}

.food__info{
    transform: translateX(-70%);
    h2{
        margin-top: 0;
        text-align: left;
        margin-bottom: 50px;
    }

    p{
        line-height: 35px;
    }
}
.food__info._active{
    transform: translateX(0);
}

.food__img{
    width: 540px;
    height: 360px;
    transform: translateX(70%);
    img{
        width: 100%;
        height: 100%;
    }
}
.food__img._active{
    transform: translateX(0);
}