.service{
    padding: 0;
    .container{
        padding: 0;
    }
}
.service__section{
    display: flex;
    justify-content: space-between;
    .service__text{
        padding-top: 25px;
        opacity: 0;
        transition: opacity 2s ease-in-out;
        p{
            text-align: center;
            padding: 0 15px;
        }
    }
    .service__text._active{
        opacity: 1;
    }
    .service__img{
        width: 450px;
        height: 450px;
        margin-top: -55px;
        transform: translateY(35%);
    }
    .service__img._active{
        transform: translateY(0);
    }
}

.service__box{
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
    transform: translateY(20%);
    &_cart{
        text-align: center;

        .service__img_wrap{
            width: 100px;
            height: 100px;
            margin: 0 auto;
        }
        h3{
            font-size: 20px;
            font-weight: 700;
            color: black;
            text-transform: uppercase;
            margin-top: 25px;
            margin-bottom: 35px;
            padding-bottom: 10px;
            display: block;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            border-bottom: 4px solid #1dc8d9;
        }
    }
}
.service__box._active{
    transform: translateY(0);
}


@media (max-width: 800px){

    .service__section{
        .service__img{
            width: 300px;
            height: 300px;
            margin-left: 15px;
            margin-top: 45px;
        }
    }
}
@media (max-width: 750px){

    .service__section{
        flex-direction: column;
        h2{
            margin-top: 25px;
            margin-bottom: 35px;
        }
        .service__img{
           width: 100%;
           margin-left: 0;
           img{
            object-fit: cover;
           }
        }
    }
    .service__box{
        padding: 60px 0;
        flex-direction: column;
       .service__box_cart{
        margin-top: 30px;
       }
        h3{
            width: 30%;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}