.project{
    .container{
        margin-top: 60px;
    }
}
.project__title{
    margin-bottom: 60px;
}

.project__container{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    column-gap: 10px;

    .project__items{
        display: flex;
        flex-direction: column;
        width: 50%;

        .project__images{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: 15px;
            column-gap: 8px;
            margin-bottom: 31px;
            margin-left: auto;
            margin-right: auto;
            .project__img_wrap{
                width: 180px;
                height: 128px;
            }
        }

        .project__info{
            color: #7D5673;
            text-align: right;
            transform: translateX(-100%);

            h3{
                font-size: 30px;
                font-weight: 600;
            }
            h4{
                font-size: 22px;
                font-weight: 600;
                margin: 10px 0;
            }
            h5{
                font-size: 20px;
                font-weight: normal;
            }
        }
        .project__info._active{
            transform: translateX(0);
        }
    }
}

.project__img{
    width: 560px;
    height: 390px;
}