.ventures__box{
    margin-bottom: 120px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
}

.ventures__item{
    width: 49.7%;
    display: flex;
    background-color: #f5f5f5;
    transform: translateY(70%);

    .ventures__img{
        width: 250px;
        height: 200px;
    }
    .ventures__info{
        margin-left: 10px;
        padding: 0 10px;
        h3{
            font-size: 20px;
            text-align: left;
            margin-top: 20px;
            font-weight: 600;
            color: #1dc8d9;
        }
        p{
            width: 300px;
            font-size: 13px;
            text-align: left;
            line-height: 25px;
            padding: 12px 12px 12px 0px;
        }
    }
}
.ventures__item._active{
    transform: translateY(0);
}

@media (max-width: 1100px) {
    .ventures__item{
        .ventures__img{
            min-width: 200px;
            height: auto;
        }
        .ventures__info{
            p{
                width: 230px;
            }
        }
    }
}
@media (max-width: 970px) {
    .ventures__item{
        .ventures__info{
            p{
                width: 200px;
            }
        }
    }
}
@media (max-width: 910px) {
    .ventures__item{
        width: 100%;
        margin: 0 auto;
        .ventures__info{
            p{
                width: 300px;
            }
        }
        .ventures__img{
            min-width: 200px;
            height: 200px;
        }
    }
}
@media (max-width: 600px) {
    .ventures__item{
        width: 100%;
        margin: 0 auto;
        .ventures__info{
            p{
                width: 200px;
            }
        }
    }
}