.address{
    padding-top: 1px;
    padding-bottom: 100px;
    padding-right: 10px;
    padding-left: 10px;
    h2{
        text-transform: uppercase;
        margin-bottom: 30px;
        font-weight: 700;
    }
    p{
        text-align: center;
    }
}

.address__box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 95%;
    margin-top: 50px;
    h3{
        font-size: 20px;
        font-weight: 600;
        color: #1dc8d9;
        margin-bottom: 8px
    }
    ul{
        margin-bottom: 15px;
        li{
            color: #666;
            line-height: 16px;
            font-size: 15px;
            margin-bottom: 7px;
            padding-left: 22px;
            background-size: contain;
            background-position: left center;
            background-repeat: no-repeat;
            a{
                color: #666;
                line-height: 16px;
                font-size: 15px;
                margin-bottom: 7px;
            }
        }
    }
}
.address__item{
    li{
        background-image: url(./../images/location.svg);
    }
}
.phone__item{
    li{
        background-image: url(./../images/phone.svg);
    }
}
.email__item{
    li{
        background-image: url(./../images/mail.svg);
    }
}


.address__form{
    width: 45%;
    transform: translateX(100%);
    .address__form_inp{
        width: 100%;
        height: 30px;
        padding: 17px;
        margin-bottom: 20px;
        background-color: #111;
        color: #fff;
        outline: none;
        &:focus{
            border: none;
        }
    }
    textarea{
        background-color: #111;
        padding: 15px;
        margin-bottom: 30px;
        width: 100%;
        height: 120px;
        min-width: 200px;
        min-height: 80px;
        color: #fff;
        font-size: 16px;
    }
    .address__form_btn{
        display: block;
        padding: 10px 30px;
        font-size: 15px;
        font-weight: 600;
        color: #EEE;
        border: none;
        outline: none;
        background-color: #0bb46d;
        cursor: pointer;
        transition: all ease-in-out 0.4s;
        &:hover{
            background-color: #009688;
            color: #FFF;
        }
    }
}
.address__form._active{
    transform: translateX(0);
}
.address__info{
    transform: translateX(-120%);
}
.address__info._active{
    transform: translateX(0);
}


@media (max-width: 700px){
    .address{
        padding-bottom: 50px;
        
        h2{
            font-size: 32px;
        }
    }
    .address__box{
        flex-direction: column;
        width: 100%;
        .address__info{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-bottom: 20px;
        }
    }
    .address__form{
        width: 100%;
    }
}

@media (max-width: 400px){
    .address{
        h2{
            font-size: 25px;
        }
    }
}