.where__box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
    h2{
        margin-top: 0;
        text-align: left;
    }
    p{
        line-height: 30px;
    }

    .where__img_wrap{
        width: 570px;
        height: 290px;
        padding: 0 15px;
    }
}
@media (max-width: 700px){
    .where__box{
        margin-top: 50px;
        margin-bottom: 0;
        flex-direction: column;
        h2{
            font-size: 30px;
            margin-bottom: 20px;
        }
        p{
            line-height: 22px;
            font-size: 13px;
        }
    
        .where__img_wrap{
            width: 100%;
            padding: 0;
            img{
                object-fit: contain;
            }
        }
    }
}