.footer{
    background-image: url(./../images/footer.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    .container{
        position: relative;
    }
}
.footer__section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px 0;
}
.footer__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #ccc;
    li{
        margin-bottom: 10px;
        a{
            color: #ccc;
            &:hover{
                color: white;
            }
        }
    }
}

.footer__box{
    transform: translateX(-70%);
    transition: transform 0.5s ease-in-out;
}
.footer__box._active{
    transform: translateY(0);
}
.footer__subscribe{
    transform: translateX(70%);
    transition: transform 1s ease-in-out;
    h4{
        font-size: 35px;
        font-weight: 600;
    }
    p{
        color: #FFF;
        font-size: 14px;
        margin: 15px 0;
    }
    form{
        margin-bottom: 40px;
        input{
            background: #333;
            color: white;
            font-size: 14px;
            padding: 15px;
            width: 100%;
            border: none;
            border-radius: 5px;
            &:focus{
                border: none;
            }
        }
        button{
            padding: 14px 30px;
            background-color: #0bb46d;
            border: none;
            outline: none;
            color: #FFF;
            text-transform: uppercase;
            font-weight: 600;
            cursor: pointer;
            transition: all ease-in-out 0.4s;
            &:hover{
                background-color: #0a9683;
            }
        }
    }
}
.footer__subscribe._active{
    transform: translateY(0);
}
.footer__social{
    position: absolute;
    bottom: 65px;
    left: 47px;
    transition: transform 0.5s ease-in-out;
    transform: translateY(100%);
    ul{
        display: flex;
        li{
            a{
                background-image: url(./../images/img-sprite.png);
                background-repeat: no-repeat;
                display: block;
                width: 50px;
                height: 50px;
            }
        }
    }
}
.footer__social._active{
    transform: translateY(0);
}

.facebook{
    background-position: 0 0;
    &:hover{
        background-position: 0 -50px;
    }
}
.twitter{
    background-position: -50px 0;
    &:hover{
        background-position: -50px -50px;
    }
}
.googleplus{
    background-position: -100px 0;
    &:hover{
        background-position: -100px -50px;
    }
}
.instagram{
    background-position: -150px 0;
    &:hover{
        background-position: -150px -50px;
    }
}
.youtube{
    background-position: -200px 0;
    &:hover{
        background-position: -200px -50px;
    }
}
.music{
    background-position: -250px 0;
    &:hover{
        background-position: -250px -50px;
    }
}


@media (max-width: 850px){
    .footer__nav{
        justify-content: space-around;
        font-size: 18px;
    }
    .footer__box{
        width: 48%;
        .cities{
            display: none;
        }
    }
   
}
@media (max-width: 800px){
    .footer__section{
        padding: 45px 0;
    }
    .footer__box{
        h4{
            font-size: 31px;
        }
        
    }
    .footer__social{
        left: 30px;
        bottom: 70px;
    }
   
}
@media (max-width: 680px){
    .footer__section{
        .hidden{
            display: none;
        }
    }
    .footer__social{
        display: none;
    }
    .footer__box{
        width: 100%;
        text-align: center;
        p{
            font-size: 14px;
        }
        form{
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 25px;
            input{
                margin-bottom: 10px;
            }
        }
        
    }
}