.header__nav{
    width: 100%;
    background-color: white;
    transform: translateY(-50%);
    opacity: 0;
    transition: all ease-in-out 1s;
    
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 15px;
        padding-top: 10px;

        .header__logo{
            margin-top: 15px;
            margin-bottom: 15px;
            .header__logo_link{
                font-size: 20px;
                color:#1dc8d9;
                font-family: 'Cinzel Decorative', cursive;
                font-size: 36px;
                font-weight: 800;
                &:hover{
                    color: #777;
                }
            }
        }
        .nav__items{
            display: flex;
            margin-top: 10px;
            li{
                margin-left: 35px;
            }
        }
    }
}
.header__nav._active{
    transform: translateY(0);
    opacity: 1;
}

.nav__link{
    color: #000;
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    &:hover{
        color:#1dc8d9 ;
    }
    &:active{
        transform: translateY(-8px);
    }
}

.link-active{
    color: #1dc8d9;
}

// ------------- Медиа запросы -------------------
@media (max-width: 1005px){
    .header{
        position: relative;
    }

    .header__nav{
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: 50;
            display: block;
            width: 100%;
            height: 100%;
            background-color: #fff;
        }
        
        .container{
            padding-bottom: 10px;
            padding-top: 5px;
            
            .header__logo{
                margin: 10px 0px;
                position: relative;
                z-index: 160;
                
                .header__logo_link{
                    font-size: 34px;
                }
            }
            .nav__wrap{
                width: 100%;
                height: 100vh;
                padding: 15px;
                background-color: #fff;
                position: fixed;
                top: 60px;
                left: -100%;
                z-index: 100;
                overflow: auto;
                transition: left ease-in-out 0.4s;
                display: flex;
                justify-content: center;
                .nav__items{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    margin-top: 0;
                    li{
                        border-radius: 10px;
                        margin-left: 0;
                        margin-bottom: 5px;
                        a{
                            width: 240px;
                            color: #fff;
                            font-size: 12px;
                            font-weight: 600;
                            text-align: center;
                            padding: 16px 0;
                           
                            border-radius: 5px;
                            background-color: #1dc8d9;
                            &:hover{
                                transform: translateX(40px);
                            }
                        }
                    }
                    
                }
            }
            
            // Вспомогательный класс для отображения меню. ПО умолчанию меню скрыто.
            .show{
                left: 0;
            }
            // Отрисовка бургера
            .burger{
                display: block;
                position: relative;
                z-index: 160;
                width: 30px;
                height: 20px;
                margin-top: 7px;
                cursor: pointer;
                span,
                &::before,
                &::after{
                    content: "";
                    display: block;
                    background-color: #1dc8d9;
                    width: 100%;
                    height: 15%;
                    position: absolute;
                    transition: all ease-in-out 0.2s;
                }
                &::before{
                    top: 0;
                }
                &::after{
                    bottom: 0;
                }
                span{
                    top: 50%;
                    transform: scale(1) translate(0px, -50%);
                }
            }
            .burger._active{
                span{
                    transform: scale(0) translate(0px, -50%);
                }
            }
            .burger._active::before{
                top: 50%;
                transform: rotate(-45deg) translate(0px, -50%);
            }
            .burger._active::after{
                top: 50%;
                transform: rotate(45deg) translate(0px, 50%);
            }
        }
    }
}
@media (max-width: 510px){
    .header__nav{
        .container{
            .header__logo{
                .header__logo_link{
                    font-size: 25px;
                }
            }
        }
    }
}